<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.rayfish.app.ssh</string>
    <key>BundleProgram</key>
    <string>Contents/MacOS/ray</string>
    <key>ProgramArguments</key>
    <array>
        <string>ray</string>
        <string>app-ssh-helper</string>
    </array>
    <key>UserName</key>
    <string>root</string>
    <key>Sockets</key>
    <dict>
        <key>Control</key>
        <dict>
            <key>SockFamily</key>
            <string>Unix</string>
            <key>SockType</key>
            <string>stream</string>
            <key>SockPathName</key>
            <string>/var/run/com.rayfish.app.ssh.sock</string>
            <key>SockPathMode</key>
            <integer>384</integer>
        </dict>
    </dict>
</dict>
</plist>
